<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>
      Cari ATM Di Sekitarmu!
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div id="map-container">
    <div id="map"></div>
    <div id="legend">
      <h4>Legenda</h4>
      <p>
        <img src="assets/icon/marker2.png" style="width: auto; height: 25px; vertical-align: middle; display: inline-block;" />
        Lokasi Anda Saat Ini</p>
      <p><img src="assets/icon/marker.png" style="width: 20px; height: 25px; vertical-align: middle;" /> Sebaran Lokasi ATM 24 Jam</p>
    </div>
  </div>
</ion-content>
